.sebm-google-map-container {
    height: 600px;
}

.user-map-preview {
    padding: 5px;
    display: flex;

    .photo {
        margin-right: 20px;

        img {
            width: 100px;
            height: 100px;
        }
    }
}